[Unit]
Description=Arcade reset monitor (single native)
After=multi-user.target

[Service]
Type=simple
User={{ARCADE_USER}}
Group=gpio
Environment="SINGLE_GAME_NAME={{SINGLE_GAME_NAME}}"
Environment="PYTHONUNBUFFERED=1"
WorkingDirectory={{RUN_DIR}}
ExecStart=/usr/bin/python3 {{RUN_DIR}}/monitor_kill.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
